html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  background-color: red;
  color: #fff;
  font-size: 40px;
  text-align: center;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: orange;
  justify-content: center;
  margin: 0;
}

nav li {
  padding: 0.5rem;
}

nav a {
  color: #fff;
  font-size: 26px;
}

main {
  background-color: lightseagreen;
}

.articles {
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem 0;
}

article {
  background-color: lightskyblue;
  padding: 1rem;
}

article:not(:last-child) {
  margin-bottom: 1rem;
}

footer {
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  background-color: purple;
}
