.histogram {
  width: 100%;
  padding: 16px 24px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.histogram__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.histogram__heading {
  display: flex;
  flex-direction: column;
}

.histogram__title {
  font: 16px/24px Inter;
  color: var(--black);
  opacity: 0.8;
}

.histogram__subtitle {
  font: 20px/26px Inter;
  color: var(--black);
  margin-top: 6px;
}

.histogram__link {
  font: 16px/24px Inter;
  color: var(--primary);
  text-decoration: none;
}

.histogram__chart {
  margin-top: 40px;
  height: 50px;
  width: 100%;
}

.chart {
  display: flex;
  align-items: flex-end;
}

.chart__item {
  margin-right: 1px;
  flex: 1 1px;
  background-color: var(--primary);
  display: block;
}

.chart__item:last-child {
  margin-right: 0;
}

.chart__item--value-0 {
  height: 0;
}

.chart__item--value-1 {
  height: 10%;
}

.chart__item--value-2 {
  height: 20%;
}
.chart__item--value-3 {
  height: 30%;
}
.chart__item--value-4 {
  height: 40%;
}
.chart__item--value-5 {
  height: 50%;
}
.chart__item--value-6 {
  height: 60%;
}
.chart__item--value-7 {
  height: 70%;
}
.chart__item--value-8 {
  height: 80%;
}
.chart__item--value-9 {
  height: 90%;
}
.chart__item--value-10 {
  height: 100%;
}
